<!DOCTYPE html>
<html lang="pt-br">
<!-- Font awsome Icons
     https://cdnjs.com/libraries/font-awesome/4.7.0
     https://fontawesome.com/v4.7.0/icons/
 -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curvi20</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" />
</head>

<body class="container-fluid">
    <% if (dados) { %>
        <div>
            <div class="container text-center mt-4">
                <h1 class="font-weight-light" style="color: #465725;">
                    <%= dados.name %>
                </h1>
                <span style="color: #465725;" class="h5">
                    <%= dados.age %>
                </span>
            </div>
        </div>
        <div class="container">

            <div class="mt-4 text-left">
                <div style="padding-left: 15px; padding-top:5px; padding-bottom: 5px;background-color:#465725;">
                    <h5 class="font-weight-light" style="color:#FFF;">Objetivo</h5>
                </div>
                <p class="container-fluid">
                    <%= dados.goal %>
                </p>
            </div>
            <div class="mt-4 text-left">
                <div style="padding-left: 15px; padding-top:5px; padding-bottom: 5px;background-color:#465725;">
                    <h5 class="font-weight-light" style="color:#FFF;">Contato</h5>
                </div>
                
                <div class="row container p-2 py-4">
                    <div class="col-6">
                        <span>
                            <i class="fa fa-home"></i>
                            <%= dados.address %>
                        </span><br />
                        <span>
                            <i class="fa fa-envelope-o"></i>
                            <%= dados.email %>
                        </span><br />
                    </div>
                    <div class="col-6">
                        <span>
                            <i class="fa fa-phone"></i>
                            <%= dados.cellphone %>
                            
                        </span>
                        <br />
                        <br />
                        <% if (dados.linkedln_link) { %>
                            <span>
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                <%= dados.linkedln_link %>
                            </span><br />
                            <% } %>
                    </div>
                </div>
                
            </div>
            <div class="mt-4 text-left">
                <div style="padding-left: 15px; padding-top:5px; padding-bottom: 5px;background-color:#F0F0F0;">
                <h5 class="" style="color:#465725;">Formação</h5>
            </div>
            <div class="container m-2">
                <span>
                    <%= dados.scholarity %> - <%= dados.courseName %>
                </span><br />
                <span>
                    <%= dados.courseSchool %>
                </span><br />
                <span>
                    <%= dados.courseEndYear %>
                </span><br />
            </div>
            </div>
            <div class="mt-4 text-left">
                <div style="padding-left: 15px; padding-top:5px; padding-bottom: 5px;background-color:#F0F0F0;">
                <h5 class=""  style="color:#465725;">Experiências</h5>
            </div>
            <div class="container">

                <span>
                    <%= dados.companyOccupation %> - <%= dados.companyName %>
                </span><br />
                <span>
                    <%= dados.companyStartEnd %>
                </span><br />
                <span>
                    <%= dados.companyDescription %>
                </span><br />
                <% if (dados.companyNameVolunteer !='NOT_PRINT' && dados.companyNameVolunteer) { %>
                    <span>
                        <%= dados.companyNameVolunteer %>
                    </span><br />
                    <span>
                        <%= dados.companyOccupationVolunteer %>
                    </span><br />
                    <span>
                        <%= dados.companyDescriptionVolunteer %>
                    </span><br />
                    <span>
                        <%= dados.companyStartEndVolunteer %>
                    </span><br />
                    <% } %>
            </div>
            </div>
            <% if (dados.language !='NOT_PRINT' && dados.language) { %>
                <div class="mt-4 text-left">
                    <div style="padding-left: 15px; padding-top:5px; padding-bottom: 5px;background-color:#F0F0F0;">
                    <h5 class="" style="color:#465725;">Idiomas</h5>
                </div>
                    <span>
                        <%= dados.language %> - <%= dados.language_level %>
                    </span><br />
                </div>
                <% } %>
                    <% if (dados.courses !='NOT_PRINT' && dados.courses) { %>

                        <div class="mt-4 text-left">
                            <div style="padding-left: 15px; padding-top:5px; padding-bottom: 5px;background-color:#F0F0F0;">
                            <h5 class="" style="color:#465725;">Cursos</h5>
                        </div>
                            <hr width="70%" style="margin-left: 0;">
                            <span>
                                <%= dados.courses %>
                            </span><br />
                            <span>
                                <%= dados.cientificResearch %>
                            </span><br />
                        </div>

        </div>
        <% } %>
            <% } %>
</body>

</html>